
body{
    background: #20523f;
    margin: 0;
    padding: 10px;
    height: 100vh;
    width: auto;
}

ul{
    padding: 0;
    list-style: none;
}

.projects-container{
    display: grid;

  }
  .projects-container header{
      display: grid;
      padding-top: 5px;
      position: sticky;
      top: 0px;
      background: #20523f;
  }
  
  .projects-container h1{
      color: white;
      font: 1.5em sans-serif;
    
  }

  .projects-container a {
      color: white;
      text-decoration: none;
      font: 1em sans-serif;
  }

.projects-container header section  {
    display: grid;
    grid-template-columns: 70px 2fr;
    justify-self: center;

}


.projects-container header section img{
    height: 60px;
    justify-self: center;
}


  .gallery-container{
      display: grid;
  }

  .gallery-container {
    display: grid;
    background: #20523f;
    justify-content: center;
    width: auto;
  }
  
  .gallery-container ul {
    display: grid;
    row-gap: 10px;

  }
  
  .gallery-container ul li {
    display: grid;
    justify-items: center;
    align-items: center;
    
  }
  
  .gallery-container img {
    max-width: 350px;
    grid-row: 1/2;
    grid-column: 1/2;
    border: solid white 1px;

  }
  
  .gallery-container a {
    color: white;
    grid-row: 1/2;
    grid-column: 1/2;
    background: rgba(0, 0, 0, 0.494);
    border-radius: 10px;
    padding: 10px;
    border: white solid 2px;
  }



  @media screen and (min-width: 750px) {
      .projects-container ul {
          column-gap: 20px;
          grid-template-columns: 1fr 1fr;
      }
  }


  @media screen and (min-width: 1300px) {
    .projects-container ul {
        row-gap: 40px;
        column-gap: 40px;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }
}